@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<nav class="nav ">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Adicionar", "Add")</li>
            <li><a href="#" data-action="Edit"> Editar </a></li>
            <li><a href="#" data-action="Delete"> Deletar </a></li>
        </ul>

        <form class="navbar-form navbar-right">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Procurar">
            </div>
            <button name="search" class="btn btn-success" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>
    </div>
</nav>

<div id="index" data-entity="Animal"></div>

@section scripts{
    @Scripts.Render("~/Scripts/index.utils.js")
}  